<header class="global-nav">
  <div class="content-container content-container--wide">
    {{#with logo}}
      <div class="global-nav__logo">
        <a href="{{ link }}">
          <img src="{{ src }}" alt="{{ alt }}" />
        </a>
      </div>
    {{/with}}

    <div class="global-nav__mobile-wrapper">
      <nav class="global-nav__menu">
        {{#with primary}}
          <ul>
            {{#each items}}
              <li{{#if class}} class="{{ class }}"{{/if}}>
                {{#with link}}
                  <a href="{{ href }}" {{#if target}}target="{{ target }}"{{/if}} class="{{ modifier_class }}{{#if class }} {{ class }}{{/if}}" {{#if drawerId}} data-drawer-id="{{ drawerId }}"{{/if}}>
                    {{ text }}
                  </a>
                {{/with}}
              </li>
            {{/each}}
          </ul>
        {{/with}}
      </nav>
    </div>

    <div class="global-nav__hamburger">
      {{> hamburger }}
    </div>
  </div>
</header>
