<div class="fancy-radios form-field__wrapper">
  <label class="form-field__label fancy-radios__group-label">{{ label }}</label>
{{#each inputs}}
  <div>
    <input class="form-field fancy-radios__radio" type="radio" id="radio-{{id}}" name="{{../group}}" value="{{value}}" {{#if checked}}checked{{/if}}>
    <label class="form-field__label" for="radio-{{id}}">{{label}}</label>
  </div>
{{/each}}
</div>
