<header class="global-nav">
  <div class="global-nav__top content-container content-container--wide">
    <div class="relative clearfix">
      {{# logo}}
        <div class="global-nav__logo">
          <a href="{{ link }}">
            <img src="{{ src }}" alt="Tableau Software" />
          </a>
        </div>
      {{/logo}}
      
      <div class="global-nav__mobile-wrapper tablet-hide">
        <nav class="global-nav__primary-menu">
          {{# primary}}
            <ul class="link-list link-list--inline">
              {{#each items}}
                <li{{#if class}} class="{{ class }}"{{/if}}{{#if drawerId}} data-drawer-id="{{ drawerId }}"{{/if}}>
                  {{# link}}
                    {{> link-base}}
                  {{/ link}}
                </li>
              {{/each}}
            </ul>
          {{/primary}}

            {{> link-list}}
        </nav>

        <nav class="global-nav__secondary-menu">
          {{# secondary}}
            {{> link-list}}
          {{/secondary}}
        </nav>

        <div class="global-nav__search tablet-hide">
          <input type="search" placeholder="Search" name="q" autocomplete="off">
          <a href="#" class="global-nav__search__close"></a>
          <div id="predictive-container">
            <ul id="predictive-terms"></ul>
          </div>
        </div>
      </div>
      
      <div class="global-nav__hamburger tablet-show">
        {{> hamburger }}
      </div>
    </div>
  </div>
  
  <div class="global-nav__drawers">
    {{# drawers}}
      <div class="global-nav__drawers__drawer box--nav-drawer-gray-1" id="{{ drawerId }}">
        <div class="global-nav__drawers__drawer__controls desktop-hide">
          <span>
            <a class="link link--arrow-left global-nav__drawers__drawer__close" href="#">Back</a>
          </span>
          <span class="float-right">
            <a class="link" href="/{{ drawerId }}">View All Products</a>
          </a>
        </div>
        <div class="global-nav__drawer__inner content-container content-container--wide">
          <div class="global-nav__drawer__primary grid--8">
            {{# primaryItems}}
              <div class="sub-nav__item grid--4">  
                {{# title}}
                  <h3 class="sub-nav__item__title {{ classes }}">
                    <a href="{{ ../url }}" class="text--{{ color  }}">{{ text }}</a>
                  </h3>
                {{/ title}}
                
                <p class="sub-nav__item__description mobile-hide">{{ description }}</p>
                <p class="sub-nav__item__link tablet-hide">
                  <a class="link link--arrow" href="{{ url }}">{{ linkText }}</a>
                </p>
              </div>
            {{/ primaryItems}}
          </div>

          {{# secondaryItems}}
          <div class="global-nav__drawer__secondary grid--4 grid--last box--nav-drawer-gray-2 box__padded box__padded--three">
            <h3 class="text--label">{{ title }}</h3>
            <ul class="plain-list">
              {{# items}}
                <li class="sub-nav__item">
                  <h5 class="sub-nav__item__title text--dropdown text--bold {{ classes }}">
                    <a class="text--dark-body" href="{{ url }}">{{ title }}</a>
                  </h5>
                  <p class="sub-nav__item__description mobile-hide">{{ description }}</p>
                </li>
              {{/ items}}
            </ul>
          </div>
          {{/ secondaryItems}}

        </div>
      </div>
    {{/ drawers}}
  </div>
  <hr class="divider divider--gradient tablet-show">
</header>
