<header>
  <div class="global-nav content-container content-container--wide">
    <div class="relative clearfix">
      {{# logo}}
        <div class="global-nav__logo">
          <a href="{{ link }}">
            <img src="{{ src }}" alt="Tableau Software" />
          </a>
        </div>
      {{/logo}}
      
      <div class="global-nav__mobile-wrapper tablet-hide">
        <nav class="global-nav__primary-menu">
          {{# primary}}
            {{> link-list}}
          {{/primary}}
        </nav>

        <nav class="global-nav__secondary-menu">
          {{# secondary}}
            {{> link-list}}
          {{/secondary}}
        </nav>

        <div class="global-nav__search tablet-hide">
          <input type="search" placeholder="Search" name="q" autocomplete="off">
          <a href="#" class="global-nav__search__close"></a>
          <div id="predictive-container">
            <ul id="predictive-terms"></ul>
          </div>
        </div>
      </div>
      
      <div class="global-nav__hamburger tablet-show">
        {{> hamburger }}
      </div>
    </div>
  </div>

  <div class="global-nav__drawer box--nav-drawer-gray-1">
    <div class="content-container content-container--wide">
      <div class="global-nav__drawer__primary grid--8">
        <hr class="spacer spacer--four">

        {{# drawer.primaryItems}}
          <div class="sub-nav__item grid--4">  
            {{# title}}
              <a href="{{ ../url }}" class="text--{{ color  }}">{{> heading}}</a>
            {{/ title}}
            
            <p>{{ description }}</p>
            <p>
              <a class="link link--arrow" href="{{ url }}">{{ linkText }}</a>
            </p>
          </div>
        {{/ drawer.primaryItems}}
      </div>

      {{# secondaryItems}}
      <div class="global-nav__drawer__secondary grid--4 grid--last box--nav-drawer-gray-2 box__padded box__padded--three">
        <h3 class="text--label">{{ title }}</h3>
        <ul class="plain-list">
          {{# items}}
            <li>
              <span><a class="text--bold text--dark-body text--dropdown" href="{{ url }}">{{ title }}</a></span><br>
              <span>{{ description }}</span>
            </li>
          {{/ items}}
        </ul>
        <div class="global-nav__drawer__secondary__background box--nav-drawer-gray-2"></div>
      </div>
      {{/ secondaryItems}}

    </div>
  </div>
</header>
