{{#with form}}
<div class="form form--full-width">
  <div class="form__intro">
    <h3 class="form__intro__heading">{{heading}}</h3>
    <div class="form__intro__description">
      {{{description}}}
    </div>
  </div>

  {{#each fields.list}}
  <div class="form__field-wrapper has-float-label">
    <label class="form__label" for="{{name}}">{{label}}</label>
    <input class="form__field" type="{{type}}" name="{{name}}" placeholder="{{placeholder}}">
  </div>
  {{/each}}

  <div class="form__actions">
    {{> form_button}}
  </div>
</div>
{{/with}}
